on:
  push:
    branches: [main, master, dev-publication]
  pull_request:
  workflow_dispatch:

name: test-coverage

permissions:
  contents: read

jobs:
  test-coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr
          needs: coverage

      - uses: r-lib/actions/test-coverage@v2
        with:
          upload-coverage: true
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
